body{
    position: fixed;
    background: white;
    text-align: center;
    color: #000000;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 20px;
}

.DetailsHolder{
    background: transparent;
    position: absolute;
    width: 90%;
    height: 60%;
    bottom: 20px;
    display: block;
    border: 1px solid navy;
}

.Holders{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    display: inline-flex;
}

.NameHolder{
    text-align: left;
    margin-left: 5%;
}

.NamerHolder{
    margin-left: 5%;
}

.HolderImage{
    position: relative;
    right: 0;
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius:100%;
}